.drop-shadow {
	background: #fff;
	position: relative;
	width: 100%;
	-webkit-box-shadow: rgba(0, 92, 128, 0.2) 0 0 4px, rgba(0,0,0,0.1) 0 0 16px inset;
	-moz-box-shadow: rgba(0, 92, 128, 0.2) 0 0 4px, rgba(0,0,0,0.1) 0 0 16px inset;
	        box-shadow: rgba(0, 92, 128, 0.2) 0 0 4px, rgba(0,0,0,0.1) 0 0 16px inset;
}

.drop-shadow::before,
.drop-shadow::after {
	content: "";
	position: absolute;
	z-index: -1;	
}

.lifted::before,
.lifted::after {
	bottom: 15px;
	left: 10px;
	height: 20%;
	max-width: 480px;
	width: 50%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 10px;
	        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 10px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.lifted::after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	transform: rotate(3deg);
}

.curved::before {
	border-radius: 10px / 100px;
	bottom: 10px;
	left: 0;
	right: 50%;
	top: 10px;
	-webkit-box-shadow: rgba(0,0,0,0.6) 0 0 15px;
	-moz-box-shadow: rgba(0,0,0,0.6) 0 0 15px;
	        box-shadow: rgba(0,0,0,0.6) 0 0 15px;
}

.curved-vt::before {
	right: 0;
}

.curved-hz::before {
	-webkit-border-radius: 100px / 10px;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
	bottom: 0;
	left: 10px;
	right: 10px;
	top: 0;
}

.curved-hz-2::before {
	bottom: 50%;
	left: 15px;
	right: 15px;
	top: 0;
	-webkit-border-radius: 100px / 10px;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}

.curled {
    border: 1px solid #efefef; 
    -webkit-border-radius: 0 0 120px 120px / 0 0 6px 6px; 
    -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;    
         border-radius :0 0 120px 120px / 0 0 6px 6px;
}

.curled:before,
.curled:after {
    bottom:12px;
    left:10px;
    width:50%;
    height:55%;
    max-width:200px;
    -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
       -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
            box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
    -webkit-transform:skew(-8deg) rotate(-3deg);
       -moz-transform:skew(-8deg) rotate(-3deg);
        -ms-transform:skew(-8deg) rotate(-3deg);
         -o-transform:skew(-8deg) rotate(-3deg);
            transform:skew(-8deg) rotate(-3deg);
} 

.curled:after { 
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}
