/* @override http://localhost/ms2/update/media/css/styles.css */

@import 'reset.css';
@import 'dropshadows.css';

body {
	background: #fafaff url(../images/bg.png) repeat left top;
	color: #022533;
	font-family: "skolar-1","skolar-2", "Chaparral Pro", Chaparral, Garamond, serif;
	line-height: 1.2;
}

h1 {
	color: #002533;
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 {
	background: #005B80;
	color: #fff;
	float: left;
	font-family: "futura-pt-1","futura-pt-2",sans-serif; 
	font-size: 28px;
	padding: 5px 20px 5px 100px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-box-shadow: rgba(0, 92, 128, 0.6) 0 2px 4px, rgba(0,0,0,0.3) 0 0 16px inset;
	        box-shadow: rgba(0, 92, 128, 0.6) 0 2px 4px, rgba(0,0,0,0.3) 0 0 16px inset;
}

p { 
	margin: 10px 0; 
}

.tab { 
	margin: 0 0 20px -15px;
	padding: 0 10px 10px 0;
	overflow: hidden; 
}

header.right { 
	
	margin: 0 -15px 20px 0;
	padding: 0 0 10px 10px;
}

.right h2 { 
	float: right;
	padding: 5px 100px 5px 20px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
}

a,
a:link,
a:visited {
	color: #E57900;
	text-decoration: none;
}

a:hover {
	color: #1498CC;
}

nav ul {
	list-style: none;
}

.block { 
	margin-bottom: 20px; 
}
.col { 
	float: left; 
}

.span-1 { 
	width: 320px; 
}
.span-2 {
	margin-right: 20px; 
	width: 620px; 
}

.hide {
	display: none;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
}

#top,
#page-header {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	        border-bottom-left-radius: 4px;
	        border-bottom-right-radius: 4px;
}

#top {
	background: #fff;
	border-bottom: 1px solid #fff;
	height: 170px;
	padding-bottom: 10px;
}

#top nav {
	font-size: 20px;
	position: absolute;
	right: 20px;
	text-transform: lowercase;
	top: 0;
	z-index: 30;
}

#top nav ul {
	overflow: hidden;
}

#top nav li {
	float: left;
	margin-right: 2px;
	
}

#top nav a {
	background: #005c80;
	color: #fff;
	display: block;
	padding: 10px;
	
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	        border-bottom-left-radius: 4px;
	        border-bottom-right-radius: 4px;
	-webkit-box-shadow: rgba(255,255,255,0.2) 0 0 16px inset;
	        box-shadow: rgba(255,255,255,0.2) 0 0 16px inset;
	
	-webkit-transition: padding 0.2s ease-out, color 0.4s ease;
	-moz-transition: padding 0.2s ease-out, color 0.4s ease;
	transition: padding 0.2s ease-out, color 0.4s ease;
}

#top nav a:hover {
	background: #1498CC;
	padding-top: 20px;
}

#top nav .selected a {
	background: #E57900;
	padding-top: 30px;
	
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 0 16px inset;
	        box-shadow: rgba(0,0,0,0.2) 0 0 16px inset;
}

#logo {
	background: url(../images/logo.png) no-repeat -10px 20px;
	height: 90px;
	padding-top: 50px;
	overflow: hidden;
	text-indent: -999px;
	width: 500px;
}

#service {
	color: #777;
	font-size: 16px;
	font-style: italic; 
	margin: 5px 0 0 15px; 
}

#post-it {
	background: url(../images/postit.png) no-repeat left top;
	height: 185px;
	position: absolute;
	right: -15px;
	top: 50px;
	width: 440px;
	z-index: 10;
}

#post-it .cities,
#post-it .contact {
	font-size: 30px;
}

#post-it .inner {
	height: 200px;
	padding: 25px 30px;
	width: 400px;
	
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

#post-it .social {
	list-style: none;
	margin-top: 10px;
	overflow: hidden;
}

#post-it .social li {
	float: left;
	margin-right: 10px;
}

.social a {
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	height: 48px;
	overflow: hidden;
	text-indent: -999px;
	width: 48px;
}

.social .facebook a {
	background-image: url(../images/facebook.png);
}
.social .twitter a {
	background-image: url(../images/twitter.png);
}
.social .linkedin a {
	background-image: url(../images/linkedin.png);
}
.social .youtube a {
	background-image: url(../images/youtube.png);
}
.social .vimeo a {
	background-image: url(../images/vimeo.png);
}

#page-header {
	background: #005c80;
	color: #fff;
	margin-bottom: 40px;
	padding: 30px 20px 20px 20px;
	width: 900px;
}

#page-header h1 {
	color: #fff;
}

.wf-active #page-header h1 {
	font-weight: 600;
}

.wf-active #page-header .tk-futura-pt {
	font-size: 20px;
	font-weight: 300;
}

#content {
	background: #fff;
	height: 400px;
	height: auto !important;
	min-height: 400px;
	padding: 20px 10px;
	overflow: hidden;
	-webkit-box-shadow: rgba(0, 92, 128, 0.2) 0 0 4px, rgba(0, 0, 0, 0.4) 0px 15px 10px, rgba(0,0,0,0.1) 0 0 40px inset;
	        box-shadow: rgba(0, 92, 128, 0.2) 0 0 4px, rgba(0, 0, 0, 0.4) 0px 15px 10px, rgba(0,0,0,0.1) 0 0 40px inset;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	        border-top-left-radius: 4px;
	        border-top-right-radius: 4px;
}

#page-footer {
	background: #002533;
	color: #fff;
	height: 60px;
	padding: 20px 0;
}

#playlist {
	display: none;
}

#twitter-profile { 
	margin-bottom: 10px;
	padding-left: 60px; 
	position: relative;
}

#twitter-profile .thumb { 
	left: 0;
	margin-top: -24px;
	position: absolute; 
	top: 50%;
}

#twitter-profile p {
	font-size: 14px;
	font-style: italic; 
}

.tweets { 
	list-style: none;
	margin-left: -10px;
	overflow: hidden; 
	padding-right: 15px;
}

.tweet { 
	background: rgba(0,91,128,0.1);
	border-left: 5px solid #E57901;
	clear: left;
	float: left;
	font-size: 16px;
	margin: 5px 0; 
	padding: 5px 20px 5px 5px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-box-shadow: rgba(0, 92, 128, 0.2) 2px 2px 4px, rgba(0,0,0,0.1) 0 0 16px inset;
	        box-shadow: rgba(0, 92, 128, 0.2) 2px 2px 4px, rgba(0,0,0,0.1) 0 0 16px inset;
}
.tweet time { 
	 background: #ccc;
	 background: rgba(204,204,204,0.6);
	 color: #1498CD;
	 float: right;
	 font-size: 14px;
	 padding: 2px 5px;
	 margin: 5px -30px 0 0;
	 -webkit-border-radius: 4px;
	 -webkit-box-shadow: rgba(0, 92, 128, 0.2) 2px 2px 4px, rgba(0,0,0,0.1) 0 0 16px inset;
	        box-shadow: rgba(0, 92, 128, 0.2) 2px 2px 4px, rgba(0,0,0,0.1) 0 0 16px inset;
}

.wf-active .tweets { 
	font-weight: 400; 
}
