<section class="block col span-2">
	<header class="tab">
		<h2>About MS2</h2>
	</header>
	<p><b>At MS2 Productions, we are passionate about the power of video and helping your business evolve with the next generation of online video & social media marketing and corporate storytelling.  As your complete media solution, our expertise will help you capture your vision and bring it to reality. Remember, we got to the Top 50 for the “Best Job in the World” Competition, out of 35,000 contestants! Just imagine what MS2 can do for you!</b>.</p>
	<p><b>From concept to completion our expertise will help your company stand apart from your competition! Period.</b></p>
	<p>We Write, Direct, Shoot, Conceptualize, Consult, Produce, Edit, Animate, Plan/Buy Media and Host for the Web, Television, Film, Radio, Creative Services, Ad Campaigns, Public Relations, Promotional, Sales, Marketing, Corporate or Training Needs, Workshops, Seminars, and/or Conferences.</p> 
	<p>Our staff is dedicated to delivering results! At MS2 Productions we embrace and maintain our vision of core values:</p> 
	<ul class="list"> 
		<li>to deliver <b>WOW</b> to our clients through creative excellence and outstanding production quality on time and on budget</li> 
		<li>to be passionate and determined</li> 
		<li>to continue to grow and learn as new technologies evolve</li> 
		<li>to be creative and open-minded</li> 
		<li>to have fun and create a positive team environment</li> 
	</ul>
</section>
<section class="block col span-1">
	<header class="tab right">
		<h2>What we do</h2>
	</header>
	<p>That’s simple:</p>
	<p>Want to get noticed? No Problem! Our job is to craft a powerful message that speaks to your customers - educates prospects, increases conversions and builds brand equity.</p> 
	
	<p>We’ll help you cost effectively brand, network and market your business with the next generation of media, video marketing and corporate storytelling.</p>
	
	<p>With a strong vision, we will create an outstanding video product to promote your business and move you forward with future media trends to achieve the most effective form of success!</p>
	
	<p><strong>We produce Online Videos, TV Commercials, Promotional Spots, Documentaries, Corporate Movies and Educational / Training Videos.</strong></p>
</section>