{{>ms2ube_player}}
<section id="client-list">
	<header class="tab">
		<h2>Check out what some of our recent clients have to offer:</h2>
	</header>
	<ul class="3-col"> 
		<li><a class="client uwsc" href="http://www.stratfordcampus.uwaterloo.ca/" rel="external">University of Waterloo – Stratford Campus http://stratfordcampus.uwaterloo.ca/</a></li> 
		<li><a class="client cdmn" href="http://www.cdmn.ca/" rel="external">CDMN Canadian Digital Media Network  http://cdmn.ca/</a></li> 
		<li><a class="client pc" href="http://www.perthcounty.ca/" rel="external">Perth County http://perthcounty.ca/</a></li> 
		<li><a class="client gwsa" href="http://www.gwsa-guelph.ca" rel="external">GWSA http://www.gwsa-guelph.ca/</a></li> 
		<li><a class="client psic" href="http://www.personalstyleconsulting.com/" rel="external">Personal Style Imaging Consulting http://personalstyleconsulting.com/</a></li> 
		<li><a class="client chefd" href="http://www.chefdtv.com/" rel="external">ChefD tv http://chefdtv.com/</a></li> 
		<li><a class="client ustripe" href="http://www.ustripeit.com/" rel="external">U-Stripe It &amp; Design http://ustripeit.com/</a></li> 
		<li><a class="client sdcc" href="http://www.stratfordchamber.com/" rel="external">Stratford &amp; District Chamber of Commerce http://stratfordchamber.com/</a></li> 
		<li><a class="client ckhealth" href="http://www.chatham-kent.ca/community+services/Public+Health/Health+Home.htm/" rel="external">Chatam-Kent Health Unit http://www.chatham-kent.ca/community+services/Public+Health/Health+Home.htm</a></li> 
		<li><a class="client pcfdc" href="http://www.perthcfdc.ca/Home.aspx" rel="external">Perth Community Futures Development Corporation http://perthcfdc.ca/</a></li> 
		<li><a class="client spbcb" href="http://cfb.dito.ca/Home.aspx" rel="external">Stratford | Perth Business Centre for Business http://cfb.dito.ca/</a></li> 
		<li><a class="client cfdcw" href="http://www.cfdcwest.ca/" rel="external">CFDC West http://cfdcwest.ca/</a></li> 
		<li><a class="client unified" href="http://unifiedhome.ca/" rel="external">Unified Home http://unifiedhome.ca/</a></li> 
		<li><a class="client samsonite" href="http://samsonite.ca" rel="external">Samsonite Canada http://samsonite.ca</a></li> 
		<li><a class="client vic" href="http://www.vicwest.com/" rel="external">Vicwest http://vicwest.com/</a></li> 
		<li><a class="client medu" href="http://www.meducom.ca/" rel="external">Meducom Health Inc. http://meducom.ca/</a></li> 
		<li><a class="client energrow" href="http://www.energrow.com/" rel="external">Energrow http://energrow.com/</a></li> 
		<li><a class="client crm" href="http://www.crmcanada.com/" rel="external">Credit Risk Management Canada http://crmcanada.com/</a></li> 
		<li><a class="client manhattans" href="http://www.manhattans.ca/" rel="external">Manhattans Music Club &amp; Pizza Bistro http://manhattans.ca/</a></li> 
		<li><a class="client giffen" href="http://www.giffenlawyers.com/" rel="external">Giffen Lawyers LLP http://giffenlawyers.com/</a></li> 
		<li><a class="client teknik" href="http://www.tekniksalon.com/index.html" rel="external">Teknik Salon &amp; Spa http://tekniksalon.com/</a></li> 
		<li><a class="client channers" href="http://www.channers.com/" rel="external">Channers http://channers.com/</a></li> 
		<li><a class="client derma" href="https://www.dermawand.com/" rel="external">DermaWand https://dermawand.com/</a></li> 
		<li><a class="client polydoor" href="http://www.polydoor.com/" rel="external">J.E.M. Polydoor http://polydoor.com/</a></li> 
	</ul>
</section>
