<section id="vlog">
	<header class="tab">
		<h2>ms2ube vlog</h2>
	</header>
	<div class="vlog-wrapper">
	{{#vlog}}
		<iframe class="youtube-player" type="text/html" width="300" height="185" src="{{embed}}" frameborder="0">
		</iframe>
	{{/vlog}}
	</div>
</section>